/* BASIC CONFIGURATION
----------------------------------------------------------*/

/* Utilities
-----------------------------*/
%hide-text
{
    overflow: hidden;

    text-indent: -999em;
}

%flex
{
    display: flex;
    flex-direction: row;
}

%disabled
{
    opacity: .5;

    filter: alpha(opacity=50);
}

%button
{
    font-weight: bold;

    width: 100%;
    margin: 0 auto;
    padding: 10px 0;

    color: $default-button-txt;
    border: $default-button-border;
    background: $default-button-bg;
    &.active,
    &:active,
    &:focus,
    &:hover
    {
        transition: background-color .5s linear,
        color .5s linear;

        color: $default-button-txt-hover;
        background-color: $default-button-bg-hover;
    }
}

%clearfix
{
    display: block;
    clear: both;

    width: 0;
    height: 0;

    content: '';
}

// Limit element
%limit
{
    width: 960px;
    margin: auto;
    padding: 0 10px;
    @media (max-width: $bp-large)
    {
        width: 100%;
        padding: 0 20px;
    }
}

/* General Styles
-----------------------------*/
body
{
    font-family: $font;
    font-size: 62.5%;
    // background-image: url('../images/bg-header.jpg');
    // background-repeat: no-repeat;
    // background-position: center top;

    color: $txt-color;
    // background-color: red;
}

a
{
    transition: all .2s linear;
    text-decoration: none;
    word-wrap: break-word;

    color: $a-color;
    &:hover
    {
        transition: all .2s linear;
        text-decoration: none;
        word-wrap: break-word;

        color: $a-color-hover;
    }
    &:focus,
    &:active
    {
        text-decoration: none;
    }
}
