/* Fonts
-----------------------------*/
@font-face
{
    font-family: 'Andika-Basic';
    font-weight: normal;
    font-style: normal;

    src: url('../font/AndBasR.otf');
    src: url('../font/AndBasR.eot?#iefix') format('embedded-opentype'),
    url('../font/AndBasR.woff') format('woff'),
    url('../font/AndBasR.ttf') format('truetype'),
    url('../font/AndBasR.svg#montserratregular') format('svg');
}

$font: 'Andika-Basic', Arial, Helvetica, sans-serif;
@font-face
{
    font-family: 'si';
    font-weight: normal;
    font-style: normal;

    src: url('../font/socicon.eot');
    src: url('../font/socicon.eot?#iefix') format('embedded-opentype'),
    url('../font/socicon.woff') format('woff'),
    url('../font/socicon.ttf') format('truetype'),
    url('../font/socicon.svg#icomoonregular') format('svg');
}

@media screen and (-webkit-min-device-pixel-ratio:0)
{
    @font-face
    {
        font-family: si;

        src: url(../font/socicon.svg) format(svg);
    }
}

// Colors
$txt-color: #000; //Commom text color;
$a-color: #4bba81; //Commom text color;
// $a-color-hover: #37ac70; //Commom text color hover;
$a-color-hover: #309a63; //Commom text color hover;
$a-color-gray: #646566;
$color-pink: #ef5b67;
$color-purple: #6e2d56;
$color-white: #fff;

// The same color by tag "a" but oder name for not confuse the meaning in the context out of "a"
$main-dark: $a-color;
$main-color-light: $a-color-hover;
$main-color-smooth: $a-color-gray;
$default-button-bg: #fff;
$default-button-bg-hover: #6e6e6e;
$default-button-border: 1px solid #6e6e6e;
$default-button-txt: #6e6e6e;
$default-button-txt-hover: #fff;
$page-title-txt: #ccc;
$toolbar-btn-hover: #1fc4f4;

// Breakpoint
$bp-xxsmall: 319px;
$bp-xsmall: 479px;
$bp-small: 767px;
$bp-medium: 1023px;
$bp-large: 1389px;

// Limit div
%limit
{
    width: 960px;
    margin: auto;
    padding: 0 10px;
    // @include bp(max-width, $bp-large)
    // {
    //     width: 100%;
    //     &.mobile
    //     {
    //         padding: 0 20px;
    //     }
    // }
}
// inclue as imagens
@import 'compass/utilities/sprites';
@import 'compass/utilities/sprites/base';
$icon-spacing: 20px;
$icon-dimensions: true;
$icon-layout: vertical;
// @import 'icon/*.png';
// @include all-icon-sprites(true);

@mixin load-sprite($name-sprite)
{
    width: icon-sprite-width(#{$name-sprite});
    height: icon-sprite-height(#{$name-sprite});

    background: sprite($icon-sprites, #{$name-sprite});
}
@function em($target, $context)
{
    @return ($target / $context) * 1em;
}
